# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/
*.code-workspace

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*

# Docker
*.pid
*.log
docker-compose.override.yml

# FastAPI specific
*.db
*.sqlite3

/imagens